body {
    margin: 0;
    background-color: #f0f9e8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown {
    width: 20%;
}

.dropdown .dropbtn {
    cursor: pointer;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    border: 1px black solid;
    font-size: 25px;
    background-color: rgb(69, 126, 225);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #a4c9fa;
}

.dropdown-content {
    display: none;
    background-color: rgb(139, 88, 249);
    border: transparent;
    font-size: 20px;
}



.show {
    display: block;
}

#dropdown-link{
    text-align: center;
    width: 99%;
    font-size: 22px;
    border: 1px black dashed;
    padding-top: 5px;
    padding-bottom: 5px;
}

.topnav {
    display: flex;
    background-color: rgb(69, 126, 225);
    height: 10%;
    width: 100%;
    justify-content: flex-start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
}
  
.topnav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    border: 1px black solid;
    font-size: 25px;
    width: 20%;
    cursor: pointer;
}

#nav-name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    border: 1px black solid;
    background-color: rgb(189, 107, 248);
    font-size: 50px;
    width: 30%;
}

.topnav a:hover {
    background-color: #a4c9fa;
    color: white;
}

.project-box{
    display: flex;
    width: 40%;
    height: auto;
    margin-bottom: 5em;
    border: 3px black solid;
    flex-direction: column;
    align-items: center;
}
.project-container{
    display: flex;
    justify-content: space-around;
}

.project-name{
    font-size: 25px;
}

.project-description{
    display: flex;
    margin-right: 1.5em;
    margin-left: 1.5em;
    flex-direction: column;
}

.project-text{
    margin-top: 0;
    padding: 0;
    margin-left: 1em;
    margin-right:1em;
    font-size: 18px;
}

#project-image{
    width:80%;
    height:20em;
    border: 2px black solid;
    margin: 2em;
}


.homepage-description{
    width: 98%;
    height: 10em;
    padding-top: 7em;
    padding-left: 5em;
}

.home-blurb{
    margin: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    width: 100%;
    float:left;
    clear: left;
}

.read-more-button{
    float: right;
    margin-top: .5em;
    margin-bottom: 1.5em;
    background-color: rgb(227, 233, 252);;
    border: 2px black;
    border-style:solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: auto;
    width: auto;
    border-radius: 5px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 15px;
    cursor: pointer;
}

.read-more-button:hover {
    background-color: rgb(196, 209, 246);
}

.project-page-div{
    width: 95%;
    height: fit-content;
    padding-top: 7em;
    padding-left: 1em;
    padding-bottom: 3em;
}

.page-title{
    font-size: 42px;
    color: rgb(59, 59, 59);
    margin-bottom: 20px;
    border: 3px black;
    border-style:dashed;
    margin-right: 45%;
    padding: 20px;
    width:max-content;
    background-color: rgb(252, 245, 198);
    margin-left: 1%;
}

.project-page-text{
    margin-top: 0;
    padding: 0;
    margin-left: 1em;
    margin-right:1em;
    font-size: 25px;
}

#project-page-image{
    width:40%;
    height:32em;
    border: 2px black solid;
    margin-left: 3em;
    margin-right: 1em;
    float: right;
}

#title-text{
    margin: 0;
}

#summary-text-title{
    margin-top: 30px; 
    margin-bottom: 0;
}

#summary-text{
    margin: 5px;
}

.about-page-title{
    font-size: 42px;
    color: rgb(59, 59, 59);
    margin-bottom: 20px;
    border: 3px black;
    border-style:dashed;
    margin-left: 45%;
    padding: 20px;
    width:max-content;
    background-color: rgb(252, 245, 198);
}
.about-page-text{
    margin-left: 45%;
    font-size: 22px;
}

#about-me-image{
    width:35%;
    height: auto;
    border: 2px black solid;
    margin-left: 5em;
    float: left;
}
